alias ls='ls --color=auto'
alias la='ls -a'
alias ll='ls -l'
alias lla='ls -la'
alias l='ls -CF'

alias tree='tree -C'

alias c='clear'

## Git aliases!
alias gstat='git status'
alias gadd='git add'
alias glog='git log'
alias gbr='git branch'
alias gcheck='git checkout'
alias gcom='git commit'

if [ -f ~/.aliases_local ]; then
  . ~/.aliases_local
fi
