alias ls='ls --color=auto'
alias la='ls -a'
alias ll='ls -l'
alias lr='ls -R'
alias lla='ls -la'
alias l='ls -CF'

alias tree='tree -C'

alias c='clear'

alias where_the_hell_did_my_disk_space_go='du -h | sort -h'

alias ag='ag --ignore=**.ag --ignore=tags'

## Git aliases!
alias gstat='git status'
alias gadd='git add'
alias glog='git log'
alias gbr='git branch'
alias gbr-ls='git branch --list'
alias gcheck='git checkout'
alias gcom='git commit'
alias gdiff='git diff'
alias gdiff-hh='git diff HEAD^ HEAD'

## tmux aliases!
alias ta='tmux attach'

alias gdb-nvim='gdb attach $(ps auxx | grep '"'"'[.]/build/bin/nvim'"'"' | awk '"'"'{print $2}'"'"')'

if [ -f ~/.aliases_local ]; then
  . ~/.aliases_local
fi
