snippet doc "A basic documentation snippet" b
/**
   $0
 */
endsnippet

snippet stdio "Include standard IO header" b
#include <stdio.h>
endsnippet

snippet stdlib "Include standard library header" b
#include <stdlib.h>
endsnippet

snippet std2 "Include standard IO and library headers" b
#include <stdio.h>
#include <stdlib.h>
endsnippet
