snippet html "import html" b
import Html exposing (..)
$0
endsnippet

snippet im "import snippet" b
import $1 exposing (${2:..})
$0
endsnippet

snippet st "a snippet for stylings (or string tuples)" 
("$1", "$2")
endsnippet

snippet j "forward arrow" 
-> $0
endsnippet

snippet f "back arrow" 
<- $0
endsnippet
